.sep::after {
    content: ":";
}

.time.irrelevant {
    color: gray;
}

.time {
    cursor: pointer;
}

.duration .adjust {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
    visibility: hidden;
}

.adjust:hover {
    color: gray;
}

.duration:hover .adjust {
    visibility: visible;
}

.adjustmentInfo {
    color: red;
    cursor: pointer;
    user-select: none;
}

.plus {
    color: red;
}

.minus {
    color: green;
}

